* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
[data-component='app-root'] {
  display: block;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
[data-component='app-root'] header {
  padding: 0;
  margin: 0;
  background: #ebebeb;
  height: 624px;
  width: 100%;
}
[data-component='app-root'] header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
}
[data-component='app-root'] header nav a {
  text-decoration: none;
}
[data-component='app-root'] header nav .logo {
  padding-top: 35px;
  padding-left: 47px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
[data-component='app-root'] header nav .logo h1 {
  padding: 0px;
  margin: 0px;
  font-family: Lato Semibold;
  font-size: 18.75px;
  color: #000;
}
[data-component='app-root'] header nav .space {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
[data-component='app-root'] header nav .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
[data-component='app-root'] header nav .nav-bar .tab {
  padding-top: 38px;
  font-family: Lato;
  font-size: 16px;
}
[data-component='app-root'] header nav .nav-bar .tab a {
  color: #000;
}
[data-component='app-root'] header nav .nav-bar .tab.tab-home,
[data-component='app-root'] header nav .nav-bar .tab.tab-about {
  padding: 38px 36px;
}
[data-component='app-root'] header nav .nav-bar .tab.tab-signup-login {
  padding-left: 123px;
  padding-right: 56px;
}
[data-component='app-root'] .dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 951px;
  background: #f9f9f9;
}
[data-component='app-root'] .dashboard .side-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 240px;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
[data-component='app-root'] .dashboard .side-bar ul.categories {
  padding-top: 80px;
  padding-left: 0px;
  padding-right: 0px;
  list-style-type: none;
}
[data-component='app-root'] .dashboard .side-bar ul.categories li {
  font-family: Lato;
  font-size: 16px;
  padding: 15px;
  cursor: pointer;
}
[data-component='app-root'] .dashboard .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 960px;
  height: 100%;
  padding-top: 84px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
[data-component='app-root'] .dashboard .products .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 25px 23px;
  width: 196px;
  cursor: pointer;
}
[data-component='app-root'] .dashboard .products .product .image {
  height: 276px;
  width: 100%;
  font-family: Lato;
  color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #82ca9c;
}
[data-component='app-root'] .dashboard .products .product .price {
  height: 48px;
  width: 100%;
  background: #c4df9b;
  font-family: Lato;
  color: #fff;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
[data-component='app-root'] .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  height: 786px;
}
[data-component='app-root'] .news .headline {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 83px;
  font-family: Lato;
  font-weight: bold;
  font-size: 22px;
  color: #000;
}
[data-component='app-root'] .news .articles {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
[data-component='app-root'] .news .articles .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 508px;
  height: 196px;
  margin-bottom: 20px;
}
[data-component='app-root'] .news .articles .article .left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 152px;
  height: 100%;
  background: #f3f3f3;
}
[data-component='app-root'] .news .articles .article .left .image {
  width: 100%;
  height: 100%;
}
[data-component='app-root'] .news .articles .article .right {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 49px;
}
[data-component='app-root'] .news .articles .article .right .title h2 {
  width: 307px;
  margin-bottom: 20px;
  font-family: Lato Medium;
  font-size: 18.75px;
}
[data-component='app-root'] .news .articles .article .right .content {
  width: 307px;
  margin-bottom: 20px;
  font-family: Lato Medium;
  font-size: 16px;
}
[data-component='app-root'] .news .articles .article .right .action button {
  width: 126px;
  height: 36px;
  border: none;
  outline: none;
  background: #f26c4f;
  color: #fff;
  font-family: Lato Semibold;
  font-size: 16px;
  cursor: pointer;
}
[data-component='app-root'] footer {
  width: 100%;
  height: 260px;
  background: #c4df9b;
}
